.ProductContainer {
}

.ProductContainer_header_1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4vh;
}
.ProductContainer_header_2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4vh;
}
.ProductContainer_header_3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4vh;
}
.ProductContainer_header_4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4vh;
}
