.pcrd{
    border: 0.1rem solid black;
    width: 10rem;
    margin: auto;
}
.pcrd img{
    height: 9rem;
    width: 6rem;
}
.pcrd-img{
    margin: auto;
    width: 6rem;
    height: 9rem;
    align-items: center;
}