.Product_item {
  /* width: 18%; */
  width: 14rem;
  margin: auto;
  border-radius: 15px;
  border: 1px solid orange;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.Product_item_img_container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.Product_item_description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  padding: 0.3rem;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.price {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
   
}

.quantity {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.btn-4{
  border-radius: 0.6rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pr{
  padding: 0.4rem;
}
